<meta property="fb:page_id" content="113371206701208" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}{{ page.large_image_path }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="" />
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.meta-description %}<meta name="twitter:description" content="{{ page.meta-description }}" />{% else %}<meta name="twitter:description" content="{{ site.description }}" /> {% endif %}
<meta name="twitter:image" content="{{ site.url }}{{ page.large_image_path }}" />
