<meta name="google-site-verification" content="s-Z9mjhmipLpEqLws9iEnHdYYZoNHTkI6IzRI0ZrozM" />
    <meta name="geo.region" content="GB" />
<meta name="geo.placename" content="South Somerset" />
<meta name="geo.position" content="c;-2.639563" />
<meta name="ICBM" content="50.942743, -2.639563" />


<meta property="og:title" content="Green Fingers Compost Company" />
<meta property="og:image" content="{{ site.url }}/images/packShadow.jpg" />
<meta property="og:description" content="Compost Tea Probiotic Plant Food available in dried brew at home kits to buy online. Bokashi Bran - compost accelerator, and soil improver to buy online. Soap Nuts to buy online " />
<meta property="og:url" content="https://greenfingerscompost.co" />

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "url": "{{ site.url }}",
  "logo": "{{ site.url }}/images/logo.svg",
  "email": "mailto:growing@greenfingerscompost.co",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Yeovil",
      "addressRegion": "Somerset",
      "postalCode":"BA20 1BY.",
      "streetAddress": "Carisbrooke Gardens "
    },
    "description": "{{ site.description }}",
    "name": "{{ site.title }}",
    "telephone": "03334045671",
    "openingHours": "Mo,Tu,We,Th,Fr 09:00-17:00",
    "image": "{{ site.url }}/images/logo.svg",
    "priceRange" : "£1 - £50",
    "geo": {
      "@type": "GeoCoordinates",
    "latitude": "50.942743",
      "longitude": "-2.639563"
    },
"sameAs" : [ "https://www.facebook.com/wormfarmspain",
""]
}

  }
</script>
